body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #f0f8ff, #e6f2ff);
  }
  
  main {
    flex: 1;
  }
  
  .card {
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: white;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand img {
    height: 30px;
    margin-right: 10px;
  }
  
  footer {
    background: none;
  }
  